<section class="container-fluid">
    <article class="row no-gutter">
        <!-- The image half -->
        <section class="col-md-6 d-none d-md-flex bg-image"></section>


        <!-- The content half -->
        <section class="col-md-6 bg-light">
            <article class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <section class="container">
                    <article class="row">
                        <section class="col-lg-10 col-xl-7 mx-auto">
                            <h4 class="display-4">Discover Office</h4>
                            <p class="text-muted mb-4">Gestiona tus puestos de trabajo en un solo lugar</p>
                            <form>
                                <article class="form-group mb-3">
                                    <input id="inputEmail" type="email" placeholder="Email address" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </article>
                                <article class="form-group mb-3">
                                    <input id="inputPassword" type="password" placeholder="Password" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </article>
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
                                <article class="text-center d-flex justify-content-between mt-4"><p>Snippet by <a href="https://bootstrapious.com/snippets" class="font-italic text-muted"> 
                                        <u>Dreamcode SAS</u></a></p></article>
                            </form>
                        </section>
                    </article>
                </section><!-- End -->

            </article>
        </section><!-- End -->

    </article>
</section>
