<app-navbar></app-navbar>
<section class="p-5">
  <h4 class="mb-3"><strong> Información del usuario</strong></h4>
  <form class="overflow-auto">
    <section class="mb-5">
      <p class="d-flex justify-content-center mt-3">
        <strong> INSPECCION Y EVALUCION DE PUESTO DE TRABAJO</strong>
      </p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><strong>Empresa</strong> </label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Empresa"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"><strong> ARL </strong></label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="ARL"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress"><strong>Nombre</strong></label>
        <input type="text" class="form-control" id="inputAddress" />
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><strong>Cedula</strong> </label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Cedula"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"><strong> Área </strong></label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Área"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><strong>Dirección</strong> </label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Dirección"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"><strong> Teléfono </strong></label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Teléfono"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><strong>Cargo</strong> </label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Cargo"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"><strong> Edad </strong></label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Edad"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><strong>Genero</strong> </label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Genero"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"
            ><strong> Nombre y teléfono de persona de contacto </strong></label
          >
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Contacto"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><strong>Antigüedad empresa</strong> </label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Antigüedad empresa"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"><strong>Antigüedad cargo</strong></label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Antigüedad cargo"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress"
          ><strong>Antecedentes Osteomusculares</strong></label
        >
        <input type="text" class="form-control" id="inputAddress" />
      </div>
      <div class="form-group">
        <label for="inputAddress"
          ><strong
            >Ubicación exacta donde está ubicado el puesto de trabajo</strong
          ></label
        >
        <input type="text" class="form-control" id="inputAddress" />
      </div>
      <div class="form-group">
        <label for="inputAddress"
          ><strong>Responsable de la evaluación</strong></label
        >
        <input type="text" class="form-control" id="inputAddress" />
      </div>
    </section>
    <section class="mt-2 mb-5">
      <p class="d-flex justify-content-center mb-3">
        <strong>REPORTE DE SINTOMATOLOGIA</strong>
      </p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><strong>Alergias</strong> </label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Alergias"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"
            ><strong>Alergico a Medicamentos</strong></label
          >
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder=""
          />
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress"><strong>Jornada laboral</strong></label>
        <input type="text" class="form-control" id="inputAddress" />
      </div>
    </section>
    <section class="mt-2 mb-5">
      <p class="d-flex justify-content-center">
        <strong>ESPALDA ALTA Y MIEMBROS SUPERIORES</strong>
      </p>
      <p class="d-flex justify-content-center mb-3">
        <strong>TAREAS DEL CARGO</strong>
      </p>

      <section class="d-flex justify-content-between">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck1"
          />
          <label class="custom-control-label" for="customCheck1">Digitar</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck2"
          />
          <label class="custom-control-label" for="customCheck2">Lectura</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input 2"
            id="customCheck3"
          />
          <label class="custom-control-label" for="customCheck3"
            >Analisis</label
          >
        </div>
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck4"
          />
          <label class="custom-control-label" for="customCheck4"
            >Bases de datos</label
          >
        </div>
      </section>
    </section>
    <section class="mt-2 mb-5">
      <p class="d-flex justify-content-center mb-4">
        <strong>Factores de Riesgo para Miembros Superiores</strong>
      </p>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >Realiza movimientos manuales como digitar</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >Se observa posición forzada a nivel del cuello en flexión,
            extensión o rotación.</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >Hay desviaciones en manos con relación al eje neutro de la muñeca
            en la digitación o agarre de objetos o herramientas.</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >El trabajador mantiene una postura forzada a nivel de la
            muñeca.</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >Se observa la articulación del hombro en abducción o flexión de 60°
            A 90° combinados con acciones como levantar, alcanzar objetos</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >El trabajador mantiene una postura prolongada durante el 75% o más
            de la jornada laboral sin posibilidad de alternancia (de pie o
            sentado)</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
    </section>
    <section class="mt-2 mb-5">
      <p class="d-flex justify-content-center mb-4">
        <strong>Factores de Riesgo relacionados con Espalda Lumbar</strong>
      </p>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >Existen rotaciones, inclinaciones, flexión o extensión (mayor a
            30°) de tronco</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >El trabajador manipula pesos teniendo el cuerpo en una posición
            inestable.</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >El trabajador cuenta con las herramientas necesarias para el
            desarrollo de su labor silla</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >El trabajador realiza actividad física por lo menos tres veces a la
            semana (hábito)</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
    </section>
    <section class="mt-2 mb-5">
      <p class="d-flex justify-content-center">
        <strong>ASPECTO DEL PUESTO DE TRABAJO</strong>
      </p>
      <p class="d-flex justify-content-center mb-3">
        <strong>Factores de Riesgo para Miembros Superiores</strong>
      </p>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >El plano de trabajo donde se ubica es menor o igual a 80 cm.</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >El plano de trabajo impide colocar el teclado y el mouse al mismo
            nivel.</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >El plano de trabajo es insuficiente para colocar a partir del
            tercio medio del antebrazo al momento de realizar actividades
            manuales.</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >Los elementos de trabajo se encuentran fuera del alcance normal en posición horizontal o vertical (alcance mínimo y máximo).</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >La silla es ergonómica o cumple con las condiciones para tener una buena postura </label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >La silla se ajusta a las dimensiones del trabajador.</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >Se observa que el escritorio carece de mantenimiento</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >El espacio debajo del escritorio es reducido para el movimiento de miembros inferiores.</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >La pantalla del computador está muy cerca de los ojos (menos de 50 cm).</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >La altura de la pantalla se encuentra por debajo de la línea perpendicular de los ojos del trabajador.</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4"
            >Se observa que el monitor, teclado y/o mouse carecen de mantenimiento</label
          >
        </div>
        <div class="form-group col-md-6">
          <mat-slide-toggle
            class="example-margin"
            [color]=""
            [checked]=""
            [disabled]="false"
          >
            No/Si
          </mat-slide-toggle>
        </div>
      </div>
    </section>
  </form>
</section>
