<app-navbar></app-navbar>
<section class="p-5">
  <h4 class="mb-3"><strong> Información del usuario</strong></h4>
  <form class="overflow-auto">
    <section class="mb-5">
      <p class="d-flex justify-content-center mt-3">
        <strong> INSPECCION Y EVALUCION DE PUESTO DE TRABAJO</strong>
      </p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><strong>Empresa</strong> </label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Empresa"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"><strong> ARL </strong></label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="ARL"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress"><strong>Nombre</strong></label>
        <input type="text" class="form-control" id="inputAddress" />
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><strong>Cedula</strong> </label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Cedula"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"><strong> Área </strong></label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Área"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><strong>Dirección</strong> </label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Dirección"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"><strong> Teléfono </strong></label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Teléfono"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><strong>Cargo</strong> </label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Cargo"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"><strong> Edad </strong></label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Edad"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><strong>Genero</strong> </label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Genero"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"
            ><strong> Nombre y teléfono de persona de contacto </strong></label
          >
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Contacto"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><strong>Antigüedad empresa</strong> </label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Antigüedad empresa"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"><strong>Antigüedad cargo</strong></label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Antigüedad cargo"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress"
          ><strong>Antecedentes Osteomusculares</strong></label
        >
        <input type="text" class="form-control" id="inputAddress" />
      </div>
      <div class="form-group">
        <label for="inputAddress"
          ><strong
            >Ubicación exacta donde está ubicado el puesto de trabajo</strong
          ></label
        >
        <input type="text" class="form-control" id="inputAddress" />
      </div>
      <div class="form-group">
        <label for="inputAddress"
          ><strong>Responsable de la evaluación</strong></label
        >
        <input type="text" class="form-control" id="inputAddress" />
      </div>
    </section>
    <section class="mt-2 mb-5">
      <p class="d-flex justify-content-center mb-3">
        <strong>REPORTE DE SINTOMATOLOGIA</strong>
      </p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4"><strong>Alergias</strong> </label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Alergias"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4"
            ><strong>Alergico a Medicamentos</strong></label
          >
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder=""
          />
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress"><strong>Jornada laboral</strong></label>
        <input type="text" class="form-control" id="inputAddress" />
      </div>
    </section>
    <section class="mt-2 mb-5">
      <p class="d-flex justify-content-center">
        <strong>ESPALDA ALTA Y MIEMBROS SUPERIORES</strong>
      </p>
      <p class="d-flex justify-content-center mb-3">
        <strong>TAREAS DEL CARGO</strong>
      </p>

      <section class="d-flex justify-content-between">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck1"
          />
          <label class="custom-control-label" for="customCheck1"
            >Digitar</label
          >
        </div>
        <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck2"
            />
            <label class="custom-control-label" for="customCheck2"
              >Lectura</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input 2"
              id="customCheck3"
            />
            <label class="custom-control-label" for="customCheck3"
              >Analisis</label
            >
          </div>
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheck4"
            />
            <label class="custom-control-label" for="customCheck4"
              >Bases de datos</label
            >
          </div>
      </section>
    </section>
  </form>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4"
        >Se observa posición forzada a nivel del cuello en flexión, extensión o
        rotación.</label
      >
    </div>
    <div class="form-group col-md-6">
      <mat-slide-toggle
        class="example-margin"
        [color]=""
        [checked]=""
        [disabled]="false"
      >
        No/Si
      </mat-slide-toggle>
    </div>
  </div>
</section>
